<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <behaviors>
          <serviceBehaviors>
            <behavior name="restBehavior">
              <serviceMetadata httpGetEnabled="true"/>
              <serviceDebug includeExceptionDetailInFaults="false"/>
            </behavior>
          </serviceBehaviors>
          <endpointBehaviors>
            <behavior name="web">
              <webHttp />
            </behavior>
          </endpointBehaviors>
        </behaviors>
        <services>
          <service name="ActiveDirectoryBroker.Services.Broker" behaviorConfiguration="restBehavior">
            <endpoint address="" binding="webHttpBinding" contract="ActiveDirectoryBroker.Services.IBroker" behaviorConfiguration="web" />
          </service>
        </services>
    </system.serviceModel>
  <appSettings>
    <add key="WEB_SERVICE_URL" value="http://localhost:8082/ActiveDirectoryBroker/"/>
  </appSettings>
</configuration>
